
 .ql-font span[data-label="Aref Ruqaa"]::before {
    font-family: "Aref Ruqaa";
  }
   .ql-font span[data-label="Mirza"]::before {
    font-family: "Mirza";
  }
  .ql-font span[data-label="Roboto"]::before {
    font-family: "Roboto";
  }


  img:hover, h1:hover, a:hover{
    scale: 1.1;
  }

  .noScale img:hover, .noScale h1:hover, .noScale a:hover{
    scale:1;
  }