
 .ql-font span[data-label="Aref Ruqaa"]::before {
    font-family: "Aref Ruqaa";
  }
   .ql-font span[data-label="Mirza"]::before {
    font-family: "Mirza";
  }
  .ql-font span[data-label="Roboto"]::before {
    font-family: "Roboto";
  }


  .scale img:hover, .scale div:hover, .scale h1:hover, .scale p:hover, .scale a:hover{
    scale: 1.1;
  }