.search-table table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.search-table td,
.search-table th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
.search-table tr:nth-child(even) {
    background-color: #dddddd;
}