.searchTable table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.searchTable td,
.searchTable th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
.searchTable tr:nth-child(even) {
    background-color: #302b2b;
}